{:paths ["src" "resources"]
 :deps {org.clojure/core.async {:mvn/version "0.4.490"}
        cljsjs/p5 {:mvn/version "0.7.2-0"}
        defexample {:mvn/version "1.7.0"}
        expound {:mvn/version "0.7.0"}}
 :aliases {:dev {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
                              dynadoc {:mvn/version "RELEASE"}
                              com.bhauman/figwheel-main {:mvn/version "0.2.0"}}
                 :extra-paths ["target"]}
           :prod {:extra-deps {leiningen {:mvn/version "2.9.0"}}}}}
